.botoes-acao {
  display: flex;
  justify-content: space-between;
}

.input-icao {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.login {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
