.pagina {
  display: flex;
  flex-direction: column;
  align-items: center;

  .busca {
    display: flex;
    flex-direction: column;
    align-items: center;

    .local-pesquisa {
      margin: 20px 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-style: groove;
      padding: 10px;
      border-radius: 20px;
      min-width: 65em;
      min-height: 7em;

      .icon-table {
        display: flex;
        flex-direction: column;
        align-items: center;
        animation: fadeIn 1s;
        animation-delay: 0.5s;
        animation-fill-mode: forwards;
        visibility: hidden;

        .local-icon {
          display: flex;
          flex-direction: row;
          .edit-icon {
            margin-left: 10px;
            font-size: 20px;

          }

          .edit-icon:hover {
            color: green;
            cursor: pointer;
          }
        }

        .tabela {
          margin-top: 10px;
          display: grid;
          gap: 1em;
          grid-template-columns: repeat(18, 1fr);
        }
      }
    }

    .pesquisa {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 100px;
      border-style: groove;
      padding: 10px;
      border-radius: 20px;

      .input {
        width: 300px;
        margin-bottom: 10px;
      }

      button {
        margin-right: 10px;
      }
    }

    .info-localidades {
      margin-top: 40px;
      animation: fadeIn 1s;
      animation-delay: 0.5s;
      animation-fill-mode: forwards;
      visibility: hidden;

      .localidade {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 20px;
        padding: 10px;
        margin: 15px 80px;
        border-style: solid;
      }
    }

    .refazer {
      margin: 15px 80px;

      span {
        margin-left: 25%;
      }
    }

    .info-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 20px;
      padding: 10px;
      margin: 15px;
      max-width: 100%;
      min-width: 80%;
      border-style: dotted;

      .infos {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
        margin: 15px;
        max-width: 100%;
        min-width: 80%;
        border-radius: 20px;
        border-style: outset;

        span {
          margin: 5px;
        }
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
