<link rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<div class="pagina" id="developedByPauloSousa">
  <div class="busca">
    <div *ngIf="!isPesquisando" class="pesquisa">
      <h1>AIS ATC - DNLO</h1>
      <h2>Buscar informações aeronáuticas das localidades da TMA-LO</h2>
      <h3>NOTAM | SUPLEMENTOS | INFOTEMP</h3>
      <form class="form" (ngSubmit)="realizaPesquisa()">
        <div class="form-group">
          <!-- <input class="input" type="text" [(ngModel)]="inputLocalidade" name="localidade"> -->
        </div>
        <div class="botoes">
          <button mat-raised-button color="primary" class="btn-buscar" type="submit">Buscar</button>
          <!-- <button mat-raised-button color="primary" class="btn-buscar" type="submit">Buscar</button> -->
          <!-- <button mat-raised-button color="warn" class="btn-limpar" type="reset">Limpar</button> -->
        </div>
      </form>
    </div>

    <div *ngIf="!isPesquisando" class="local-pesquisa">
      <span>Localidades da pesquisa ({{localidadesPadroes.length}})</span>
      <div class="locais" >
        <small *ngFor="let locais of localidadesPadroes"> {{ locais | uppercase }} </small>
      </div>
    </div>


    <div class="informacoes">
      <div class="refazer" *ngIf="isPesquisando">
        <a href="#"><strong>Refazer pesquisa</strong></a>
        <span>Pesquisa realizada em: {{ dataHora }}</span>
      </div>
      <div class="localidade" *ngFor="let localidade of listaLocalidades$ | async">
        <h2>{{ localidade.idIcao | uppercase }}</h2>
        <div class="info-item">
          <span><strong>{{ localidade.notams?.length > 0 ? 'NOTAM' : 'SEM NOTAM' }}</strong></span>
          <span *ngIf="localidade.notams?.length > 0">({{localidade.notams?.length}})</span>
          <div class="infos" *ngFor="let notam of localidade.notams">
            <span>{{ notam.n }} {{ notam.tp }} {{ notam.ref }} - Criado em: {{ notam.dt | date:
              'dd/MM/YYYY hh:mm' }}</span>
            <span>Categoria: {{ notam.cat }}</span>
            <span><strong>{{ notam.e }}</strong></span>
            <span>Período: {{ notam.b | convertDataPipe }} até {{ notam.c | convertDataPipe }}</span>
            <span>Origem: {{ notam.origem }}</span>
          </div>
        </div>
        <div class="info-item">
          <span><strong>{{ localidade.suplementos?.length > 0 ? 'SUPLEMENTOS' : 'SEM SUPLEMENTOS' }}</strong></span>
          <span *ngIf="localidade.suplementos?.length > 0">({{localidade.suplementos?.length}})</span>
          <div class="infos" *ngFor="let sup of localidade.suplementos">
            <span>{{sup.serie}}{{ sup.n }} - {{ sup.titulo }}</span>
            <span><strong>{{ sup.texto }}</strong></span>
            <span>{{ sup.duracao }}</span>
            <span>{{ sup.ref }}</span>
          </div>
        </div>
        <div class="info-item">
          <span><strong>{{ localidade.infoTemp?.length > 0 ? 'INFOTEMP' : 'SEM INFOTEMP' }}</strong></span>
          <span *ngIf="localidade.infoTemp?.length > 0">({{localidade.infoTemp?.length}})</span>
          <div class="infos" *ngFor="let temp of localidade.infoTemp">
            <span>{{ temp.n }}</span>
            <span><strong>{{ temp.rmk }}</strong></span>
            <span>Duração: {{ temp.startdate | infotempFormatData }} até {{ temp.enddate | infotempFormatData }}</span>
            <span>Divulgado em: {{ temp.dt | infotempFormatData }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
